:root {
  --base-padding: 1em;
}

body{
  background-color: #ccc;
}
nav{
  padding: var(--base-padding);
  background-color: #666;
}
#content{
  padding: var(--base-padding);
}

#content > div{
  padding: var(--base-padding);
  margin-bottom: var(--base-padding);;
  background-color: #fff;
}

footer{
  background-color: #666;
  padding: var(--base-padding);
}